@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elzevir';
    src: url('../fonts/Elzevir.woff2') format('woff2'),
    url('../fonts/Elzevir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica';
    font-weight: normal;
}
button, input, textarea {

}
a {
    text-decoration: none;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

body.apply .full-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(70px, 150px) 1fr minmax(70px, 300px);
    grid-template-columns: minmax(70px, 150px) 1fr minmax(70px, 300px);
    grid-auto-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    min-height: 100%;
    height: 100vh;
}
header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
}
main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
}
footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
}
.main-container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
}
.main-container1 {
    max-width: 1200px;
}
.main-container2 {
    max-width: 1300px;
}
@media screen and (max-width: 1000px) {
    .main-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media screen and (max-width: 767px) {
    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*<=========================ПЕРЕМЕННЫЕ======================================*/
:root{
    --header-bg: rgba(207, 169, 155, .8);
    --footer-bg: rgba(90, 61, 55, 1);
    --footer-bg-2:  rgba(105, 88, 95, 1);
    --header-bg-2:  rgba(105, 88, 95, .8);
    --body-bg: rgba(208,170,155, .2);
    --beige-bg: rgba(204, 188, 162, .2);
    --hover-color: rgba(159,254,176, 1);
    --decor-bg: url('../images/mainpage/circle.png') no-repeat;
    --vectordecor-bg: url('../images/mainpage/vcircle.svg') no-repeat;
    --font-family: 'Elzevir';
    --dark-green: rgba(107, 161, 140, 1);
    --pale-green: rgba(128, 174, 156, 1);
    --light-green: rgba(80, 200, 120, 1);
    --box-shadow-image: 4px 4px 8px 0px rgba(107, 161, 140, .4);
    --menu-bg: rgba(105, 88, 95, 1);
    --title-color: #707070;
    --text-color-white: #fff;
    --hover-detail-color: rgba(25, 209, 137, 1);
}
/*<=========================ПЕРЕМЕННЫЕ======================================*/


body{
    background-color: var(--beige-bg);
}
body.lock{
    overflow: hidden;
}


header.root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--header-bg-2);
    padding: 20px 0;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
    min-height: 104px;
}

header.root.hide {
    -webkit-transform: translateY(-104px);
    -ms-transform: translateY(-104px);
    transform: translateY(-104px);
}

body.apply header.root {
    position: fixed;
    background-color: var(--header-bg-2);
}
header.root a {
    color: var(--text-color-white);
    font-size: 20px;
}
header.root a:hover {
    color: var(--pale-green);
}
header.root .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header.root .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
header.root .apply {
    padding-left: 30px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 18px;
}
header.root .menu-nav{
    padding-left: 20px;
}
header.root .menu-nav a{
    font-weight: 500;
}
header.root .logo {
    display: block;
}
header.root .logo__name{
    font-family: var(--font-family);
    font-size: 22px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header.root .logo__name span{
    font-family: var(--font-family);
}
header.root .logo img {
    display: block;
    width: 100%;
}
header.root nav {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 19px;
    margin-left: auto;
}
header.root nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -10px;
}
header.root nav li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
header.root nav li.hidden{
    display: none;
}
header.root nav li.active a {
    color: var(--pale-green);
    font-weight: 500;
}
header.root .menu-toggle {
    border: none;
    background: none;
    padding: 0;
    display: none;
    width: 34px;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
}
header.root .menu-toggle svg {
    display: block;
    width: 34px;
    height: 34px;
}
@media screen and (max-width: 1240px) {
    header.root .apply {
        font-size: 16px;
    }
    header.root nav {
        font-size: 16px;
    }
    header.root {
        padding: 15px 0;
    }
    header.root a {
        font-size: 18px;
    }
    header.root .main-container{
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media screen and (max-width: 1100px) {
    header.root .apply {
        font-size: 14px;
    }
    header.root nav {
        font-size: 14px;
        margin-left: auto;
    }
    header.root .header-container{
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    header.root .apply {
        display: none;
    }
    header.root .main-container{
        display: block;
        padding-left: 25px;
        padding-right: 25px;
    }
    header.root {
        min-height: 88px;
    }
    header.root.hide {
        -webkit-transform: translateY(-88px);
        -ms-transform: translateY(-88px);
        transform: translateY(-88px);
    }
    header.root .menu-nav{
        padding-left: 15px;
    }
    header.root .logo__name{
        font-size: 20px;
    }
    header.root nav li.hidden{
        display: block;
    }
}
@media screen and (max-width: 830px) {
    header.root nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: var(--menu-bg);
        font-size: 20px;
        overflow-y: auto;
        margin-left: 0;
        padding: 70px 0 20px;
        display: none;
    }
    .header.root nav:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: var(--menu-bg);
    }
    header.root nav.active {
        display: block;
    }
    header.root nav .close {
        border: none;
        background: none;
        padding: 0;
        display: block!important;
        width: 34px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        top: 20px;
    }
    header.root nav .close svg {
        display: block;
        width: 34px;
        height: 34px;
    }
    header.root nav > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 0;
    }
    .header.root .menu-nav{
        padding-left: 0;
    }
    header.root nav > ul li {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    header.root .menu-toggle {
        display: block!important;
    }
    header.root .main-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    header.root .logo__name{
        font-size: 20px;
        margin: 0;
    }
    header.root .logo{
        font-size: 22px;
    }
    header.root {
        padding: 10px 0;
    }
    header.root a{
        font-size: 24px;
    }
    header.root {
        min-height: 68px;
        padding: 8px 0;
    }
    header.root.hide {
        -webkit-transform: translateY(-68px);
        -ms-transform: translateY(-68px);
        transform: translateY(-68px);
    }
    header.root .logo__name{
        font-size: 18px;
    }
}


.intro {
    width: 100%;
    height: 60vw;
    max-height: 1056px;
    position: relative;
    /*background-color: #1b1a1a;*/
    margin-bottom: 5vw;
}
.intro .main-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 16vw;
}
/*.intro:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    background: url('../images/mainpage/main-bg3.jpg') left 39% / cover no-repeat;
    }*/
    .intro-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .intro-image img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right 39%;
        z-index: 2;
    }
/*.intro:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: inherit;
    }*/
    .intro .inner {
        position: relative;
        z-index: 3;
        color: var(--text-color-white);
        font-size: 100px;
        line-height: 100px;
        font-weight: bold;
        max-width: 50%;
    }
    .intro .inner {
        font-size: 5.5vw;
        line-height: 7vw;
    }

    @media screen and (max-width: 1100px) {
        .intro .main-container {
            padding-bottom: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 30px;
        }
    }
    @media screen and (max-width: 900px) {
        .intro {
            height: 70vw;
        }
    }
    @media screen and (max-width: 700px) {
        .intro {
            height: 100%;
            padding: 150px 0;
        }
        .intro:before{
            background: url('../images/mainpage/main-bg-a.jpg') center 35% / cover no-repeat;
        }
    }
    @media screen and (max-width: 500px) {
        .intro {
            height: 100%;
            padding: 120px 0 90px;
        }
        .intro-image img {
            object-position: right 25%;
        }
    }

    h2 {
        color: var(--title-color);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.2em;
    }
    h3 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
    }
    @media screen and (max-width: 767px) {
        h2 {
            font-size: 20px;
            letter-spacing: 0.2em;
        }
        h3 {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .experience {
        width: 100%;
    }
    .experience h2 {
        margin-top: 0;
        color: var(--text-color-white);
        font-size: 30px;
        margin-bottom: 100px;
    }
    .experience header {
        background: url(../images/experience/fon2.png) no-repeat;
        background-size: cover;
        background-position: 100% 30%;
        padding-top: 350px;
        padding-bottom: 100px;
        position: relative;
    }
    .experience header:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
    }
    .experience header:after {
        content: none;
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 50%;
        top: 72%;
        -webkit-transform: translate(-50%,50%);
        -ms-transform: translate(-50%,50%);
        transform: translate(-50%,50%);
        display: block;
        background: var(--decor-bg);
        background-position: center center;
        background-size: cover;
        opacity: 0.7;
    }
    .experience header .main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .experience .content-wrapper {
        position: relative;
        z-index: 5;
    }
    .experience .content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .experience .content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .experience .content > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .experience .content > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .experience .content ul {
        list-style-type: none;
        color: #50c878;
    }
    .experience .content ul span {
        color: #000;
    }
    .experience .content li {
        list-style-type: none;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-left: 30px;
        position: relative;
    }
    .experience .content li:before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        width: 25px;
        height: 25px;
        background: var(--decor-bg);
        background-size: 25px 25px;
    }
    .experience .col-text {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        padding-right: 50px;
    }
    .experience .col-certificates {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 300px;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
    }
    .experience .text {
        color: var(--text-color-white);
        font-size: 28px;
        line-height: 34px;
        font-weight: bold;
        max-width: 750px;
    }
    .splide-certificates .splide__slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px;
    }
    .splide-certificates .splide__slide a {
        padding: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }
    .splide-certificates .splide__slide img {
        display: block;
        width: 100%;
    }
    .splide-certificates .splide__arrow {
        width: 24px;
        height: 34px;
        background: url(../images/ico-arrow.svg) no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 1;
    }
    .splide-certificates .splide__arrow svg {
        display: none;
    }
    .splide-certificates .splide__arrow--prev {
        left: -40px;
    }
    .splide-certificates .splide__arrow--next {
        right: -40px;
        -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
        transform: rotate(180deg) translateY(50%);
    }
    @media screen and (max-width: 1100px) {
        .experience h2 {
            margin-bottom: 80px;
        }
        .experience .text {
            font-size: 26px;
            line-height: 32px;
        }
        .experience .content h3 {
            font-size: 18px;
            line-height: 22px;
        }
        .experience .content {
            font-size: 14px;
        }
        .experience header{
            padding-top: 170px;
        }
    }
    @media screen and (max-width: 1000px) {
        .experience h2 {
            margin-bottom: 60px;
        }
        .experience .text {
            font-size: 24px;
            line-height: 30px;
        }
        .experience .col-certificates {
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 250px;
            padding-left: 40px;
            padding-right: 40px;
            position: relative;
        }
    }
    @media screen and (max-width: 900px) {
        .experience .text {
            font-size: 22px;
            line-height: 28px;
        }
        .experience h2 {
            font-size: 28px;
        }
        .experience .content {
            display: block;
        }
        .experience .content .col {
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: 767px) {
        .experience .col-text {
            padding-right: 0;
        }
        .experience header .main-container {
            display: block;
        }
        .experience header{
            padding-top: 120px;
            padding-bottom: 60px;
        }
        .experience .text {
            text-align: center;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 26px;
        }
        .experience h2 {
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
        }
        .experience .col-certificates {
            margin: auto;
        }
        .experience header:after {
            bottom: auto;
        }
        .experience header{
            background: url('../images/experience/bg-a.jpg') 100% 80% / cover no-repeat;
        }
    }

    .about {
        width: 100%;
        margin-bottom: 7vw;
    }
    .about .main-container1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        position: relative;
    }
    .about .main-container1 .photo {
        width: 50%;
        padding-right: 50px;
        padding-top: 30px;
        overflow: hidden;
    }
    .about .main-container1 .photo img {
        display: block;
        width: 100%;
        -webkit-box-shadow: var(--box-shadow-image);
        box-shadow: var(--box-shadow-image);
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
    }
    .about .main-container1 .text {
        width: 50%;
        padding-left: 50px;
        font-size: 20px;
        line-height: 26px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    .about .main-container1 .text a {
        color: var(--pale-green);
        display: inline-block;
        -webkit-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
    }
    .about .main-container1 .text a:hover {
        color: var(--hover-detail-color);
    }
    .about .main-container1 .text:before {
        content: "";
        width: 400px;
        height: 400px;
        position: absolute;
        left: -25px;
        top: -15px;
        background: var(--decor-bg);
        background-size: cover;
        opacity: .5;
    }
    .about .main-container1 .text .inner {
        position: relative;
        z-index: 1;
    }
    .about .main-container1 .text big {
        font-size: 26px;
        font-weight: bold;
        line-height: 34px;
    }
    .about h2 {
        margin-bottom: 50px;
    }
    .about__description{
        font-size: 20px;
        line-height: 26px;
    }
    .about__list li{
        font-size: 20px;
        line-height: 26px;
        position: relative;
        padding-left: 30px;
    }
    .about__list li:before{
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 20px;
        height: 2px;
        background: var(--pale-green);
    }
    .about__list li:not(:last-child){
        margin: 0 0 5px;
    }
    .about__bottom{
    }
    .about .about__bottom.main-container1{
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 60px 0;
    }
    @media screen and (max-width: 1100px) {
        .about h2 {
            margin-bottom: 40px;
        }
        .about .main-container1 .photo {
            padding-right: 30px;
            padding-top: 30px;
        }
        .about .main-container1 .text {
            padding-left: 30px;
            font-size: 18px;
            line-height: 24px;
        }
        .about .main-container1 .text big {
            font-size: 26px;
            line-height: 32px;
        }
        .about__description,
        .about__list li{
            font-size: 18px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: 1000px) {
        .about h2 {
            margin-bottom: 30px;
        }
        .about .main-container1 .photo {
            padding-right: 20px;
            padding-top: 30px;
        }
        .about .main-container1 .text {
            padding-left: 20px;
            font-size: 16px;
            line-height: 22px;
        }
        .about .main-container1 .text big {
            font-size: 24px;
            line-height: 30px;
        }
        .about .about__bottom.main-container1{
            padding: 20px 40px 0;
        }
        .about__description,
        .about__list li{
            font-size: 16px;
            line-height: 22px;
        }
        .about__list li:before{
            top: 10px;
        }
    }
    @media screen and (max-width: 900px) {
        .about h2 {
            margin-bottom: 20px;
        }
        .about .main-container1 .photo {
            padding-top: 20px;
        }
        .about .main-container1 .text {
            font-size: 16px;
            line-height: 22px;
        }
        .about .main-container1 .text big {
            font-size: 20px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: 767px) {
        .about h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .about .main-container1 {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .about .main-container1 .photo {
            padding-top: 0;
            padding-right: 0;
            width: 100%;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        .about .main-container1 .text {
            padding-left: 0;
            width: 100%;
        }
        .about .main-container1 .text:before {
            width: 350px;
            height: 350px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        .about .about__bottom.main-container1{
            padding: 0px 20px 0;
        }
    }
    @media screen and (max-width: 420px) {
        .about .main-container1 .text:before {
            width: 280px;
            height: 280px;
        }
    }

    footer {
        background-color: var(--footer-bg-2);
        color: var(--text-color-white);
        padding: 20px 0;
    }
    footer .main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    footer .col {
        width: 50%;
    }
    footer .col:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    footer a {
        color: var(--text-color-white);
        -webkit-transition: all .2s ease 0s;
        -o-transition: all .2s ease 0s;
        transition: all .2s ease 0s;
    }
    footer a:hover {
     color: var(--pale-green);
 }
 footer .contacts {
    font-size: 20px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
footer .contacts .picture {
    width: 45px;
    margin-right: 0;
}
footer .contacts .picture img {
    display: block;
    width: 100%;
}
footer .contacts span {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}
footer .location {
    max-width: 475px;
    font-size: 20px;
    line-height: 22px;
    background: url('../images/icons/place.svg') no-repeat left top;
    background-size: 25px 25px;
    padding-left: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 25px;
}
footer .social {
    position: absolute;
    right: 0;
    top: 0;
}
footer .social a img {
    display: block;
    height: 24px;
}
footer .wa {
    margin-top: 5px;
    display: block;
    width: 40px;
}
footer .wa a,
footer .wa img {
    display: block;
    width: 100%;
}
footer .copy{
    text-align: center;
    padding: 0 20px;
}
.footer-icon{
    margin: 0 15px 0 0;
}
.footer__link{
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer__link:not(:last-child){
    margin: 0 0 20px;
}
.footer__link i{
    color: currentColor;
    font-size: inherit;
}
.footer__social {
    margin: 25px 0 0;
}
.footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__social-list li:not(:last-child){
    margin: 0 25px 0 0;
}
.footer__social-link img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 767px) {
    footer .main-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    footer .col {
        width: 100%;
    }
    footer .col:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    footer .col:last-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    footer .location {
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: left;
    }
    footer .contacts {
        margin-bottom: 30px;
        font-size: 18px;
    }
    footer .copy {
        text-align: center;
        font-size: 14px;
    }
    .footer__link{
        font-size: 20px;
    }
}

.apply-block {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
}
.apply-block__address{
    max-width: 800px;
}
.apply-block big {
    font-weight: bold;
}
.apply-block a {
    color: var(--pale-green);
}

.apply-block .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.apply-block .main-container .col:first-child {
    padding-right: 20px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.apply-block .main-container .col:last-child {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 550px;
    padding-left: 60px;
    padding-right: 60px;
}
.apply-block .main-container .col {
    font-size: 18px;
    line-height: 22px;
}
.apply-block .main-container .text1 {
    line-height: 26px;
}
.apply-block .main-container .text2 {
    font-size: 16px;
    line-height: 22px;
}
@media screen and (max-width: 1300px) {
    .apply-block .main-container .col:last-child {
        width: 500px;
    }
}
@media screen and (max-width: 1200px) {
    .apply-block .main-container .col:last-child {
        width: 450px;
    }
}
@media screen and (max-width: 1100px) {
    .apply-block .main-container .col {
        font-size: 16px;
        line-height: 20px;
    }
    .apply-block{
        padding-top: 170px;
    }
    .apply-block .main-container .col:first-child{
        padding-right: 0;
    }
}
@media screen and (max-width: 1000px) {
    .apply-block .main-container {
        display: block;
    }
    .apply-block .main-container .col:first-child {
        margin-bottom: 30px;
    }
    .apply-block .main-container .col:last-child {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .apply-block .main-container .text1,
    .apply-block .main-container .text2 {
        margin-left: -50px;
        margin-right: -50px;
    }
    .apply-block{
        padding-top: 130px;
    }
}
@media screen and (max-width: 640px) {
    .apply-block .main-container .col:last-child {
        width: 400px;
    }
    .apply-block{
        padding-top: 100px;
    }
}
@media screen and (max-width: 420px) {
    .apply-block .main-container .col:last-child {
        width: 290px;
    }
}

.splide-room .splide__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
}
.splide-room .splide__slide a {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.splide-room .splide__slide img {
    display: block;
    width: 100%;
}
.splide-room .splide__arrow {
    width: 24px;
    height: 34px;
    background: url(../images/apply/left-arrow.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;
}
.splide-room .splide__arrow svg {
    display: none;
}
.splide-room .splide__arrow--prev {
    left: -40px;
}
.splide-room .splide__arrow--next {
    right: -40px;
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.block-principles {
    font-size: 18px;
    line-height: 22px;
    padding-top: 200px;
    padding-bottom: 50px;
}
.block-principles big {
    font-size: 24px;
    line-height: 28px;
}
.block-principles ol {
    margin-left: 1.5em;
}
.block-principles ol ol {
    margin-left: 2em;
    font-size: 16px;
    line-height: 20px;
}
.block-principles ol li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.block-principles .columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 12vw 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 30px 12vw;
    text-align: justify;
}
.block-principles .columns > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.block-principles .columns > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.block-principles .columns .cap {
    text-align: center;
    color: var(--dark-green);
    font-size: 22px;
}
@media screen and (max-width: 1100px) {
    .block-principles{
        padding-top: 150px;
    }
}
@media screen and (max-width: 1000px) {
    .block-principles {
        font-size: 16px;
        line-height: 20px;
        padding-top: 130px;
        padding-bottom: 40px;
    }
    .block-principles .columns {
        grid-gap: 30px 10vw;
    }
}
@media screen and (max-width: 900px) {
    .block-principles {
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .block-principles .columns {
        grid-gap: 30px 8vw;
    }
}
@media screen and (max-width: 767px) {
    .block-principles {
        padding-top: 100px;
        padding-bottom: 0;
    }
    .block-principles .columns {
        display: block;
        text-align: left;
    }
    .block-principles .columns .col {
        margin-bottom: 30px;
    }
}

.block-about {
    padding-top: 200px;
    padding-bottom: 50px;
}
.block-about .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.block-about .main-container .col:first-child {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 30px;
}
.block-about .main-container .col:last-child {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 450px;
    padding-left: 30px;
}
.block-about .main-container .col:last-child .photo {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: var(--box-shadow-image);
    box-shadow: var(--box-shadow-image);
}
.block-about .text {
    font-size: 17px;
    line-height: 23px;
}
.block-about .text ul {
    list-style-type: disc;
    color: #50c878;
}
.block-about .text ul span {
    color: #000;
}
.block-about .text li {
    list-style-type: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 30px;
    position: relative;
}
.block-about .text li:before{
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    background: var(--decor-bg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 1200px) {
    .block-about .main-container .col:first-child {
        padding-right: 20px;
    }
    .block-about .main-container .col:last-child {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 40%;
        padding-left: 20px;
    }
    .contacts-block {
        padding: 35px;
        font-size: 16px;
        line-height: 23px;
    }
}
@media screen and (max-width: 1100px) {
    .block-about{
        padding-top: 170px;
    }
}
@media screen and (max-width: 1000px) {
    .contacts-block {
        padding: 20px;
    }
}
@media screen and (max-width: 950px) {
    .contacts-block {
        font-size: 15px;
        line-height: 22px;
    }
}
@media screen and (max-width: 900px) {
    .block-about .main-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .block-about .main-container .col:first-child {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .block-about .main-container .col:last-child {
        width: 100%;
        padding-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .block-about .main-container .col:last-child .photo {
        width: 40%;
        margin-bottom: 0;
    }
    .block-about .col:last-child .contacts-block {
        width: 55%;
    }
}



.contacts-block {
    background-color: #f2f2f2;
    padding: 40px;
    font-size: 17px;
    line-height: 24px;
    color: #404040;
}
.contacts-block p:first-child {
    margin-top: 0;
}
.contacts-block p:last-child {
    margin-bottom: 0;
}
.contacts-block p span {
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.contacts-block big {
    font-weight: bold;
}
.contacts-block a {
    color: var(--pale-green);
}

.photo-left-inline1 {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.block404{
    padding: 200px 0;
}

@media screen and (max-width: 1100px){
    .block404{
        padding: 150px 0 100px 0;
    }
}

@media screen and (max-width: 767px) {
    .block-about{
        padding-top: 100px;
    }
    .block-about .main-container .col:last-child {
        width: 100%;
        padding-left: 0;
        display: block;
    }
    .block-about .main-container .col:last-child .photo {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .block-about .col:last-child .contacts-block {
        width: 100%;
    }
    .contacts-block{
        padding: 20px;
        width: 100%;
    }
    .block404{
        padding: 100px 0;
    }
    .block404 .main-container h2{
        font-size: 16px;
    }
}
@media screen and (max-width: 640px) {
    .photo-left-inline1 {
        float: none;
        width: 100%;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}